.dashboardWrapper {
	background: #fff;
	position: fixed;
	margin-left: 32vh;
	width: 84.5%;
	height: 100%;

	.dashboardTop {
		display: flex;

		justify-items: center;
		align-self: center;

		.searchBox {
			span {
				display: flex;
				padding: 12%;
				justify-items: center;
				align-items: center;

				input {
					border-style: none;

					background: transparent;
					padding: 10px;
					padding-left: 40px;
					width: 50vh;
					transition: border-color 0.5s;

					&:hover {
						border-color: #0080ff;
					}
				}

				svg {
					margin: 10px;
					position: absolute;
					height: 20px;
					width: 20px;
				}
			}
		}
		.userImage {
			display: flex;
			position: absolute;
			align-items: center;
			right: 0%;
			padding: 3%;

			img {
				width: 40px;
				height: 40px;

				border-radius: 10px;
				margin-left: 4vh;
			}

			svg {
				color: #0080ff;
			}
		}
	}

	.dashboardMain {
		display: flex;
		width: 50%;
		height: 100%;

		margin: 2%;

		li {
			list-style: none;
		}

		.gameCard {
			position: fixed;
			display: flex;

			width: 50%;
			height: 40%;
			align-items: center;
			justify-items: center;

			background: url(../../assets/sledge-wallpaper.jpg) #000 bottom no-repeat;
			background-size: cover;

			border-radius: 20px;

			.gameCardInfo {
				display: flex;
				top: 0;
				right: 0;
				justify-content: right;
				align-items: flex-start;
				background: rgba(0, 89, 255, 0.9);
				width: 100%;
				height: 100%;

				border-radius: 20px;

				img {
					height: 100%;
					width: 45%;

					padding-left: 5%;
				}

				.infos {
					display: flex;
					justify-items: center;
					align-self: center;

					padding-top: -10%;

					li {
						list-style: none;
						padding: 1.5%;
						padding-left: 5%;
					}

					img {
						height: 3%;
						width: 17%;

						padding-left: 0%;
					}

					.title {
						color: #ffffff;
						font-weight: 600;
						font-size: 20px;
					}

					.subtitle {
						display: flex;
						align-items: center;
						justify-items: center;

						left: 0;
						color: rgba(255, 255, 255, 0.8);
						font-size: 12px;

						.circle {
							height: 6px;
							width: 6px;
							background-color: #bbb;
							border-radius: 50%;
							margin: 2%;
							display: inline-block;
						}

						img {
							width: 1.8rem;
							height: 1.5rem;
							padding-right: 1%;
							margin-left: 0%;
						}
					}

					button {
						position: absolute;
						border: none;
						border-radius: 10px;
						padding: 1.5% 3% 1.5% 3%;
						margin-top: 1%;

						color: #0080ff;

						&:hover {
							filter: brightness(0.9);
						}
					}
				}
			}
		}

		.listCards {
			li {
				list-style: none;

				display: inline;
				float: left;

				img {
					width: 30%;
					height: 15%;

					border-radius: 10px;
				}
			}
		}
	}
}
