.loginWrapper {
	margin: 10vh auto auto auto;
	max-width: 1000px;
	height: 80vh;
	background: #ffffff;
	border: none;
	border-radius: 10px;
	display: flex;
	position: relative;
	align-items: center;

	box-shadow: 2px 2px 2px #d6dbdf;

	.loginBackgroundRigth {
		background: #c0392b url(../../assets/wallpaper-login.jpg) no-repeat center;
		background-size: cover;
		width: 75vh;
		height: 100%;
		padding: 0;
		margin: 0;

		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		display: flex;
		position: absolute;
		right: 0;

		align-items: center;

		.loginText {	
			padding: 40px;
			width: 80vh;
			height: 100%;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;

			display: flex;
			align-items: flex-start;
			justify-content: left;
			color: #000000;

			h1 {
				display: flex;
				justify-content: left;
				position: absolute;
				font-weight: 800;
				padding-top: 15px;
			}
		}
	}

	.loginForm {
		width: 50vh;
		height: max-content;
		padding: 40px;

		display: flex;
		align-items: center;
		justify-content: left;
		align-self: center;
		position: relative;

		ul {
			list-style: none;
			

			li {
				padding: 5px;
				justify-items: center;
				align-items: center;

				input {
					border-radius: 7px;
					border-color: #d6dbdf;
					border-style: solid;
					padding: 10px;
					width: 50vh;
				}
				
				a {
					text-decoration: none;
					font-size: 12px;
					color: #A0A0A0;
					
					&:nth-child(2){
						padding-left: 10px;
					}

					&:hover{
						color: #0080FF;
					}
				}

				
			}

			button {
				display: inline;
				padding-left: 50vh;
				border-radius: 10px;
				right: 0;
				padding: 15px;
				
				border: none;
				background: #0080FF;
				color: #ffffff;
				font-size: 14px;
			}
		}
	}
}
